<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>C:\inetpub\ProjectManagement</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <_TargetId>Folder</_TargetId>
    <SiteUrlToLaunchAfterPublish />
    <TargetFramework>net7.0</TargetFramework>
    <ProjectGuid>3cba9c66-56bf-4517-95d1-e2ed0d266607</ProjectGuid>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
  <ItemGroup>
    <Content Remove="appsettings.json" />
    <Content Remove="appsettings.*.json" />
  </ItemGroup>
  <ItemGroup>
    <Content Include="appsettings.json" CopyToOutputDirectory="PreserveNewest" />
    <Content Include="appsettings.*.json" Exclude="appsettings.localdb.json" DependentUpon="appsettings.json" CopyToOutputDirectory="Never" />
    <Content Include="appsettings.localdb.json" DependentUpon="appsettings.json" CopyToOutputDirectory="PreserveNewest" />
  </ItemGroup>
  <Target Name="RenameAppsettings" AfterTargets="Publish">
    <Move SourceFiles="$(PublishDir)appsettings.localdb.json" DestinationFiles="$(PublishDir)appsettings.json" />
  </Target>
</Project>