<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
	<PropertyGroup>
		<WebPublishMethod>FTP</WebPublishMethod>
		<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<SiteUrlToLaunchAfterPublish>https://wto-projectmanagement-qa-api.onewits.com/swagger/index.html</SiteUrlToLaunchAfterPublish>
		<ExcludeApp_Data>false</ExcludeApp_Data>
		<ProjectGuid>3cba9c66-56bf-4517-95d1-e2ed0d266607</ProjectGuid>
		<publishUrl>ftp://wto-projectmanagement-qa-api.onewits.com</publishUrl>
		<DeleteExistingFiles>false</DeleteExistingFiles>
		<FtpPassiveMode>true</FtpPassiveMode>
		<FtpSitePath>/</FtpSitePath>
		<UserName>wtoftpqaapi</UserName>
		<_SavePWD>true</_SavePWD>
		<_TargetId>FTP</_TargetId>
		<TargetFramework>net7.0</TargetFramework>
		<SelfContained>false</SelfContained>
	</PropertyGroup>
	<ItemGroup>
		<Content Remove="appsettings.json" />
		<Content Remove="appsettings.*.json" />
	</ItemGroup>
	<ItemGroup>
		<Content Include="appsettings.json" CopyToOutputDirectory="PreserveNewest" />
		<Content Include="appsettings.*.json" Exclude="appsettings.qa.json" DependentUpon="appsettings.json" CopyToOutputDirectory="Never" />
		<Content Include="appsettings.qa.json" DependentUpon="appsettings.json" CopyToOutputDirectory="PreserveNewest" />
	</ItemGroup>
	<Target Name="RenameAppsettings" AfterTargets="Publish">
		<Move SourceFiles="$(PublishDir)appsettings.qa.json" DestinationFiles="$(PublishDir)appsettings.json" />
	</Target>
</Project>